

.container{
    height:330px;
    width:370px;
    background-color: #fff;
    box-shadow:rgba(0,0,0,0.3)0px 5px 15px ;
    padding:20px;
    margin-top:30px;
    margin-left:50px;
    font-size:15px;
    line-height:46px;
    border-radius:6px;
    
    }
    .row{
      display:flex;
      justify-content:space-between;
    
    }
    .row:first-child{
      border-bottom:2px solid lightgrey;
    }
    
    #last-row{
      border-bottom:2px solid lightgrey;
    }
    
    .button{
      width:100%;
      padding:8px;
      border-radius:6px;
      outline:none;
      font-size:18px;
      margin-top:20px;
      border:none;
      background-color:#e6cc00;
      text-align:center;
      cursor:pointer;
    }
    .button:hover{
      background-color:#e6cc80;
    }
    input[type=checkbox]{
      width: 20px;
      height: 45px; 
    
    }
    
    @media (max-width: 870px){
    .container{
      height:555px;
    }
    }