.container2{
    height:520px;
    width:410px;
    background-color: lightgrey;
    box-shadow:rgba(0,0,0,0.3)0px 5px 15px ;
    padding:18px;
    margin-top:30px;
    margin-left:50px;
    font-size:15px;
    display:flex;
    flex-direction:column;
    gap:18px;
    border-radius:6px;
    margin-bottom:10px;
    border:1px dashed #212121;
    }
    .container2_row{
      display:flex;
      justify-content:space-between;
      background-color: #fff;
      align-items:center;
      padding:0px 20px;
    }
   
   input[type=checkbox]{
      width: 20px;
      height: 45px; 
      cursor: pointer;
   
    } 
  
   